.Services {
    background-color: #1d809f;
    padding-top: 120px;
    padding-bottom: 120px;
    text-align: center;
}
.Services h3 {
    font-size: 46px;
    color: rgb(255, 205, 5);
    margin: 0;
    padding: 0;
}

.Services h2 {
    font-size: 38px;
    color: white;
    margin-bottom: 48px;
    margin-top: 0;
}